extends ../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/company-sources").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/company-sources/${companySource.id}/edit`).dropdown-item Edit company source
            button(type="button", onClick="activeCompanySource()").dropdown-item Active company source
            button(type="button", onClick="archiveCompanySource()").dropdown-item Archive company source
            button(type="button", onClick="deleteCompanySource()").dropdown-item Delete company source

    .col-12
      include ../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{companySource.name}
            if !companySource.isActive 
              span.archive-status (archived)

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{companySource.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{companySource.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{companySource.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{companySource.updatedByEmail || "-"}


      form(action=`/admin/company-sources/${companySource.id}?_method=DELETE`, name="deleteCompanySourceForm", method="post") 

      form(action=`/admin/company-sources/${companySource.id}/active?_method=PUT`, name="activeCompanySourceForm", method="post") 

      form(action=`/admin/company-sources/${companySource.id}/archive?_method=PUT`, name="archiveCompanySourceForm", method="post") 