extends ../../../layout

block content
  .row 
    .col-6 
      h1= title

      include ../../../partials/flash

      form(action=`/admin/labels/tasks/${taskLabel.id}?_method=PUT`, method="post") 
        .form-group 
          label(for="displayName") Display name
          input(type="text", name="displayName", id="displayName", value=taskLabel.displayName, placeholder="Visitor", autofocus=true)

        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Update task label
            .col-6.text-end
              a(href=`/admin/labels/tasks/${taskLabel.id}`).btn.is-muted Cancel
        