nav.nav
  .nav-start
    a(href="/").nav-brand Home
    if currentUser
      a(href="/companies").nav-item #{labels.module.company}
      a(href="/contacts").nav-item #{labels.module.contact}
      a(href="/deals").nav-item #{labels.module.deal}
      a(href="/quotes").nav-item #{labels.module.quote}
      a(href="/tickets").nav-item #{labels.module.ticket}
      a(href="/tasks").nav-item #{labels.module.task}
  .nav-end
    if currentUser
      if currentUser.type == 'admin'
        a(href="/admin").nav-item Admin
      a(href="/auth/logout").nav-item Logout
    else
      a(href="/auth/login").nav-item Login
      a(href="/auth/register").nav-item Register
