extends ../../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/labels/companies").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/labels/companies/${companyLabel.id}/edit`).dropdown-item Edit company label
            button(type="button", onClick="activeCompanyLabel()").dropdown-item Active company label
            button(type="button", onClick="archiveCompanyLabel()").dropdown-item Archive company label

    .col-12
      include ../../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{companyLabel.name}
            if !companyLabel.isActive 
              span.archive-status (archived)

        .col-12.mb-4
          label(for="displayName").field-name Display name 
          span.field-value #{companyLabel.displayName}

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{companyLabel.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{companyLabel.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{companyLabel.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{companyLabel.updatedByEmail || "-"}


      form(action=`/admin/labels/companies/${companyLabel.id}?_method=DELETE`, name="deleteCompanyLabelForm", method="post") 

      form(action=`/admin/labels/companies/${companyLabel.id}/active?_method=PUT`, name="activeCompanyLabelForm", method="post") 

      form(action=`/admin/labels/companies/${companyLabel.id}/archive?_method=PUT`, name="archiveCompanyLabelForm", method="post") 