extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/countries").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/countries/${country.id}/edit`, title="Edit country").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activateCountry()" ).dropdown-item Activate country
                        button(type="button", onClick="archiveCountry()" ).dropdown-item Archive country
                        button(type="button", onClick="deleteCountry()" ).dropdown-item Delete country

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{country.name}
                    if !country.isActive 
                        span.archive-stage (archived)
                
                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{country.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{country.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{country.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{country.updatedByEmail || "-"}

            form(action=`/admin/countries/${country.id}?_method=DELETE`, name="deleteCountryForm", method="post") 

            form(action=`/admin/countries/${country.id}/activate?_method=PUT`, name="activateCountryForm", method="post") 

            form(action=`/admin/countries/${country.id}/archive?_method=PUT`, name="archiveCountryForm", method="post")