//- name
if labels.ticket.name
    .form-group 
        label(for="name") #{labels.ticket.name}
        input(type="text", name="name", id="name" value=ticket ? ticket.name : "", placeholder="Website is not loading", autofocus=true)
        
//- ticketTypeId
if labels.ticket.ticketTypeId
    .form-group 
        label(for="ticketTypeId") #{labels.ticket.ticketTypeId}
        select(name="ticketTypeId", id="ticketTypeId")
            for ticketType in ticketTypes
                option(value=ticketType.id, selected=ticket && ticketType.id == ticket.ticketTypeId) #{ticketType.name}

//- description
if labels.ticket.description
    .form-group 
        label(for="description") #{labels.ticket.description}
        textarea(name="description", id="description", cols="30", rows="10", placeholder="Add informative optional description") #{ticket ? ticket.description : ""}

//- priorityId
if labels.ticket.priorityId
    .form-group 
        label(for="priorityId") #{labels.ticket.priorityId}
        select(name="priorityId", id="priorityId")
            for priority in priorities
                option(value=priority.id, selected=ticket && priority.id == ticket.priorityId) #{priority.name}

//- sourceId
if labels.ticket.sourceId
    .form-group 
        label(for="sourceId") #{labels.ticket.sourceId}
        select(name="sourceId", id="sourceId")
            for source in sources
                option(value=source.id, selected=ticket && source.id == ticket.sourceId) #{source.name}

//- typeId
if labels.ticket.typeId
    .form-group 
        label(for="typeId") #{labels.ticket.typeId}
        select(name="typeId", id="typeId")
            for type in types
                option(value=type.id, selected=ticket && type.id == ticket.typeId) #{type.name}

//- assignId
if labels.ticket.assignId
    .form-group 
        label(for="assignId") #{labels.ticket.assignId}
        input(type="text", name="assignId", id="assignId", value=ticket ? ticket.assignId : "", placeholder="", autofocus=true)

//- statusId
if labels.ticket.statusId
    .form-group 
        label(for="statusId") #{labels.ticket.statusId}
        select(name="statusId", id="statusId")
            for status in statuses
                option(value=status.id, selected=ticket && status.id == ticket.statusId) #{status.name}

//- dueDate
if labels.ticket.dueDate
    .form-group 
        label(for="dueDate") #{labels.ticket.dueDate}
        input(type="text", name="dueDate", id="dueDate", value=ticket ? ticket.dueDate : "", placeholder="", autofocus=true)

//- closeDate
if labels.ticket.closeDate
    .form-group 
        label(for="closeDate") #{labels.ticket.closeDate}
        input(type="text", name="closeDate", id="closeDate", value=ticket ? ticket.closeDate : "", placeholder="", autofocus=true)

//- closeReason
if labels.ticket.closeReason
    .form-group 
        label(for="closeReason") #{labels.ticket.closeReason}
        input(type="text", name="closeReason", id="closeReason", value=ticket ? ticket.closeReason : "", placeholder="", autofocus=true)
