mixin inlineTickets(from, id)
    if modules.ticket
        hr

        - let queryParam;

        case from
            when "company"
                - queryParam = `companyId=${id}`;
            when "contact"
                - queryParam = `contactId=${id}`;
            when "deal"
                - queryParam = `dealId=${id}`;

        .row.mb-4.mt-4.align-items-center
            .col-6 
                h3 #{plural(capitalize(labels.module.ticket))} 
            .col-6.text-end
                a(href=`/tickets/new?${queryParam}`).btn New #{singular(capitalize(labels.module.ticket))}

        .row
            .col-12 
                table 
                    thead 
                        tr 
                            th Id 
                            th Name 
                            th Updated at 
                            th Updated by 
                    tbody 
                        if tickets.length > 0
                            for ticket in tickets  
                                tr 
                                    td 
                                        a(href=`/tickets/${ticket.id}`) #{ticket.id}
                                    td 
                                        a(href=`/tickets/${ticket.id}`) #{ticket.name}
                                    td #{ticket.updatedAt || "-"}
                                    td #{ticket.updatedByEmail || "-"}
                        else 
                            tr 
                                td(colspan=4).text-center No #{plural(downcase(labels.module.ticket))} found.
