extends ../../layout
include ../../mixins/pagination

block content
    .row.align-items-center 
        .col-8 
            h1 #{title} (#{count})
        .col-4.text-end 
            a(href="/admin/types/new").btn New type

        .col-12
            form(action="/admin/types", method="get") 
                .form-group 
                    input(type="hidden", name="orderBy", value=orderBy)
                    input(type="hidden", name="orderDir", value=orderDir)
                    input(type="text", name="search", value=search, autofocus=true, placeholder="Type name and press Enter")

        .col-12
            include ../../partials/flash

        .col-12
            table
                thead 
                    tr
                        th
                            if orderDir === 'ASC'
                                a(href=`/admin/types?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) Id
                            else 
                                a(href=`/admin/types?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) Id
              
                            if orderBy === 'id'
                                span.order-wrapper= orderDir

                        th
                            if orderDir === 'ASC'
                                a(href=`/admin/types?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) Name
                            else 
                                a(href=`/admin/types?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) Name
              
                            if orderBy === 'name'
                                span.order-wrapper= orderDir

                        th Created by
                        th Updated by

                        th
                            if orderDir === 'ASC'
                                a(href=`/admin/types?orderBy=createdAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Created at
                            else 
                                a(href=`/admin/types?orderBy=createdAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Created at
              
                            if orderBy === 'createdAt'
                                span.order-wrapper= orderDir

                        th
                            if orderDir === 'ASC'
                                a(href=`/admin/types?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Updated at
                            else 
                                a(href=`/admin/types?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Updated at
              
                            if orderBy === 'updatedAt'
                                span.order-wrapper= orderDir
            
                tbody 
                    if types.length > 0
                        each type in types
                            tr
                                td
                                    a(href=`/admin/types/${type.id}`) #{type.id}
                                td
                                    a(href=`/admin/types/${type.id}`) #{type.name}
                                    if (!type.isActive)
                                        span.archive-status (archived)
                                td #{type.createdByEmail || "-"}
                                td #{type.updatedByEmail || "-"}
                                td #{type.createdAt || "-" }
                                td #{type.updatedAt || "-" } 
                    else 
                        tr 
                            td(colspan=6).text-center No types found.

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)