extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/types").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/types/${type.id}/edit`, title="Edit type").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activateType()" ).dropdown-item Activate type
                        button(type="button", onClick="archiveType()" ).dropdown-item Archive type
                        button(type="button", onClick="deleteType()" ).dropdown-item Delete type

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{type.name}
                    if !type.isActive 
                        span.archive-stage (archived)
                
                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{type.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{type.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{type.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{type.updatedByEmail || "-"}

            form(action=`/admin/types/${type.id}?_method=DELETE`, name="deleteTypeForm", method="post") 

            form(action=`/admin/types/${type.id}/activate?_method=PUT`, name="activateTypeForm", method="post") 

            form(action=`/admin/types/${type.id}/archive?_method=PUT`, name="archiveTypeForm", method="post")