mixin indexCells(quote)
    if labels.quote.id
        td
            a(href=`/quotes/${quote.id}`) #{quote.id}

    if labels.quote.name
        td 
            a(href=`/quotes/${quote.id}`) #{quote.name}
            if (!quote.isActive)
                span.archive-status (archived)

    if labels.quote.updatedBy
        td #{quote.updatedByEmail || "-" }

    if labels.quote.updatedAt
        td #{quote.updatedAt || "-" } 
