mixin indexHeaders(header)
    //- id
    if header === "id" && labels.quote.id
        th
            if orderDir === 'ASC'
                a(href=`/quotes?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            else 
                a(href=`/quotes?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            
            if orderBy === 'id'
                span.order-wrapper= orderDir
              
    //- name
    if header === "name" && labels.quote.name
        th
            if orderDir === 'ASC'
                a(href=`/quotes?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            else 
                a(href=`/quotes?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            
            if orderBy === 'name'
                span.order-wrapper= orderDir
        
    //- updatedBy
    if header === "updatedBy" && labels.quote.updatedBy
        th #{labels.quote[header]}
              
    //- updatedAt
    if header === "updatedAt" && labels.quote.updatedAt
        th
            if orderDir === 'ASC'
                a(href=`/quotes?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            else 
                a(href=`/quotes?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.quote[header]}
            
            if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
