extends ../../../layout
include ../../../mixins/pagination

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      a(href="/admin/labels/quotes/new").btn New quote label

    .col-12
      form(action="/admin/labels/quotes", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type name and press Enter")

      include ../../../partials/flash

      table
        thead 
          tr  
            th
              if orderDir === 'ASC'
                a(href=`/admin/labels/quotes?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) Id
              else 
                a(href=`/admin/labels/quotes?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) Id
              
              if orderBy === 'id'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/admin/labels/quotes?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) Name
              else 
                a(href=`/admin/labels/quotes?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) Name
              
              if orderBy === 'name'
                span.order-wrapper= orderDir
            
            th
              if orderDir === 'ASC'
                a(href=`/admin/labels/quotes?orderBy=displayName&orderDir=DESC${search ? `&search=${search}` : ''}`) Display name
              else 
                a(href=`/admin/labels/quotes?orderBy=displayName&orderDir=ASC${search ? `&search=${search}` : ''}`) Display name
              
              if orderBy === 'displayName'
                span.order-wrapper= orderDir

            th Updated by

            th
              if orderDir === 'ASC'
                a(href=`/admin/labels/quotes?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Updated at
              else 
                a(href=`/admin/labels/quotes?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Updated at
              
              if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
            
        tbody 
          if quoteLabels.length > 0
            each quoteLabel in quoteLabels 
              tr
                td
                  a(href=`/admin/labels/quotes/${quoteLabel.id}`) #{quoteLabel.id}
                td #{quoteLabel.name}
                  if (!quoteLabel.isActive)
                    span.archive-status (archived)
                td #{quoteLabel.displayName || "-" }
                td #{quoteLabel.updatedByEmail || "-" }
                td #{quoteLabel.updatedAt || "-" } 
          else 
            tr 
              td(colspan=7).text-center No quote labels found.

    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)