extends ../../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/labels/quotes").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/labels/quotes/${quoteLabel.id}/edit`).dropdown-item Edit quote label
            button(type="button", onClick="activeQuoteLabel()").dropdown-item Active quote label
            button(type="button", onClick="archiveQuoteLabel()").dropdown-item Archive quote label

    .col-12
      include ../../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{quoteLabel.name}
            if !quoteLabel.isActive 
              span.archive-status (archived)

        .col-12.mb-4
          label(for="displayName").field-name Display name 
          span.field-value #{quoteLabel.displayName}

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{quoteLabel.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{quoteLabel.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{quoteLabel.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{quoteLabel.updatedByEmail || "-"}


      form(action=`/admin/labels/quotes/${quoteLabel.id}?_method=DELETE`, name="deleteQuoteLabelForm", method="post") 

      form(action=`/admin/labels/quotes/${quoteLabel.id}/active?_method=PUT`, name="activeQuoteLabelForm", method="post") 

      form(action=`/admin/labels/quotes/${quoteLabel.id}/archive?_method=PUT`, name="archiveQuoteLabelForm", method="post") 