extends ../../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/labels/modules").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/labels/modules/${moduleLabel.id}/edit`).dropdown-item Edit module label
            button(type="button", onClick="activeModuleLabel()").dropdown-item Active module label
            button(type="button", onClick="archiveModuleLabel()").dropdown-item Archive module label

    .col-12
      include ../../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{moduleLabel.name}
            if !moduleLabel.isActive 
              span.archive-status (archived)

        .col-12.mb-4
          label(for="displayName").field-name Display name 
          span.field-value #{moduleLabel.displayName}

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{moduleLabel.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{moduleLabel.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{moduleLabel.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{moduleLabel.updatedByEmail || "-"}


      form(action=`/admin/labels/modules/${moduleLabel.id}?_method=DELETE`, name="deleteModuleLabelForm", method="post") 

      form(action=`/admin/labels/modules/${moduleLabel.id}/active?_method=PUT`, name="activeModuleLabelForm", method="post") 

      form(action=`/admin/labels/modules/${moduleLabel.id}/archive?_method=PUT`, name="archiveModuleLabelForm", method="post") 