extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/states").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/states/${state.id}/edit`, title="Edit state").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activateState()" ).dropdown-item Activate state
                        button(type="button", onClick="archiveState()" ).dropdown-item Archive state
                        button(type="button", onClick="deleteState()" ).dropdown-item Delete state

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{state.name}
                    if !state.isActive 
                        span.archive-stage (archived)
                
                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{state.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{state.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{state.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{state.updatedByEmail || "-"}

            form(action=`/admin/states/${state.id}?_method=DELETE`, name="deleteStateForm", method="post") 

            form(action=`/admin/states/${state.id}/activate?_method=PUT`, name="activateStateForm", method="post") 

            form(action=`/admin/states/${state.id}/archive?_method=PUT`, name="archiveStateForm", method="post")