mixin cell(company, header)
    //- id
    if header == "id" && labels.company.id
        td
            a(href=`/companies/${company.id}`) #{company.id}

    //- name
    if header == "name" && labels.company.name
        td 
            a(href=`/companies/${company.id}`) #{company.name}
            if (!company.isActive)
                span.archive-status (archived)
                
    //- companySourceId
    if header == "companySourceId" && labels.company.companySourceId
        td #{company.companySource || "-" }

    //- updatedBy
    if header == "updatedBy" && labels.company.updatedBy
        td #{company.updatedByEmail || "-" }
                
    //- updatedAt
    if header == "updatedAt" && labels.company.updatedAt
        td #{company.updatedAt || "-" } 

    //- createdBy
    if header == "createdBy" && labels.company.createdBy
        td #{company.createdByEmail || "-" }
    
    //- createdAt
    if header == "createdAt" && labels.company.createdAt
        td #{company.createdAt || "-" }