mixin title(from)
    - let label

    case from 
        when "companies"
            - label = labels.module.company
        when "contacts"
            - label = labels.module.contact
        when "deals"
            - label = labels.module.deal
        when "quotes"
            - label = labels.module.quote
        when "tickets"
            - label = labels.module.ticket
        when "tasks"
            - label = labels.module.task

    .col-8 
        h1 #{title} (#{count})
    .col-4.text-end 
        a(href=`/${from}/view`).btn.mr-2 Change view
        a(href=`/${from}/new`).btn New #{downcase(singular(label))}

mixin search(from, placeholder)
    form(action=`/${from}`, method="get") 
        .form-group 
            input(type="hidden", name="orderBy", value=orderBy)
            input(type="hidden", name="orderDir", value=orderDir)
            input(type="text", name="search", value=search, autofocus=true, placeholder=placeholder)