//- name
if labels.task.name
    .form-group 
        label(for="name")= labels.task.name
        input(type="text", name="name", id="name", value=task ? task.name : "", placeholder="", autofocus=true)

//- typeId
if labels.task.typeId 
    .form-group 
        label(for="typeId")= labels.task.typeId
        select(name="typeId", id="typeId")
            for type in types
                option(value=type.id, selected=task && type.id == task.typeId) #{type.name}

//- phone
if labels.task.phone 
    .form-group 
        label(for="phone")= labels.task.phone
        input(type="text", name="phone", id="phone", value=task ? task.phone : "", placeholder="", autofocus=true)

//- location
if labels.task.location 
    .form-group 
        label(for="location")= labels.task.location
        input(type="text", name="location", id="location", value=task ? task.location : "", placeholder="", autofocus=true)

//- when
if labels.task.when 
    .form-group 
        label(for="when")= labels.task.when
        input(type="date", name="when", id="when", value=task ? new Date(task.when) : "", placeholder="", autofocus=true)

//- duration
if labels.task.duration 
    .form-group 
        label(for="duration")= labels.task.duration
        input(type="text", name="duration", id="duration", value=task ? task.duration : "", placeholder="", autofocus=true)

//- isCompleted
if labels.task.isCompleted 
    .form-group 
        label(for="isCompleted")= labels.task.isCompleted
        input(type="text", name="isCompleted", id="isCompleted", value=task ? task.isCompleted : "", placeholder="", autofocus=true)

//- description
if labels.task.description
    .form-group 
        label(for="description")= labels.task.description
        textarea(name="description", id="description" cols="30", rows="10", placeholder="") #{task ? task.description : ""}