extends ../layout
include ../mixins/index
include ../mixins/pagination

block content
  .row.align-items-center 
        +title("tasks")
    
        .col-12
            +search("tasks", "Type name and press Enter")

            table 
                thead 
                    tr 
                        each column in columns
                            //- id
                            if column.field === "id" && labels.task[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/tasks?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                    else 
                                        a(href=`/tasks?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                        
                                    if orderBy === 'id'
                                        span.order-wrapper= orderDir
                                    
                            //- name
                            else if column.field === "name" && labels.task[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/tasks?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                    else 
                                        a(href=`/tasks?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                        
                                    if orderBy === 'name'
                                        span.order-wrapper= orderDir
                            
                            //- updatedAt
                            else if column.field === "updatedAt" && labels.task[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/tasks?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                    else 
                                        a(href=`/tasks?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                        
                                    if orderBy === 'updatedAt'
                                        span.order-wrapper= orderDir
                            
                            //- createdAt
                            else if column.field === "createdAt" && labels.task[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/tasks?orderBy=createdAt&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                    else 
                                        a(href=`/tasks?orderBy=createdAt&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.task[column.field]
                                        
                                    if orderBy === 'createdAt'
                                        span.order-wrapper= orderDir

                            else
                                if labels.task[column.field]
                                    th= labels.task[column.field]

                tbody 
                    if tasks.length > 0
                        each task in tasks 
                            tr
                                each column in columns            
                                    if column.field === "id" && labels.task[column.field]
                                        td
                                            a(href=`/tasks/${task.id}`) #{task.id}
                                                
                                    else if column.field === "name" && labels.task[column.field]
                                        td 
                                            a(href=`/tasks/${task.id}`) #{task.name}
                                            
                                            if (!task.isActive)
                                                span.archive-status (archived)
                                                
                                    else
                                        if labels.task[column.field]
                                            td= task[column.alias]
                    else 
                        tr 
                            td(colspan=`${columns.length}`).text-center No #{downcase(labels.module.task)} found.
    
        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)
