extends ../layout

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/tasks").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/tasks/${task.id}/edit`).dropdown-item Edit #{singular(downcase(labels.module.task))}
            if task.isActive 
              button.dropdown-item(onclick="archiveTask()") Archive #{singular(downcase(labels.module.task))}
            if !task.isActive && currentUser.type == 'admin'
              button.dropdown-item(onclick="activeTask()") Active #{singular(downcase(labels.module.task))}
            button.dropdown-item(onclick="deleteTask()") Delete #{singular(downcase(labels.module.task))}

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        if labels.task.name
          .col-12.mb-4
            label(for="name").field-name #{labels.task.name} 
            span.field-value #{task.name}
              if !task.isActive 
                span.archive-status (archived)

        if labels.task.taskTypeId
          .col-12.mb-4
            label(for="taskTypeId").field-name #{labels.task.taskTypeId}
            span.field-value #{task.taskType}

        if labels.task.description
          .col-12.mb-4
            label(for="description").field-name #{labels.task.description}
            span.field-value #{task.description || "-"}

        if labels.task.phone
          .col-12.mb-4
            label(for="phone").field-name #{labels.task.phone}
            span.field-value #{task.phone || "-"}
        
        if labels.task.location
          .col-12.mb-4
            label(for="location").field-name #{labels.task.location}
            span.field-value #{task.location || "-"}
        
        if labels.task.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.task.createdAt}
            span.field-value #{task.createdAt || "-"}
        
        if labels.task.updatedAt
          .col-6.mb-4
            label(for="updatedAt").field-name #{labels.task.updatedAt}
            span.field-value #{task.updatedAt || "-"}

        if labels.task.createdBy
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.task.createdBy}
            span.field-value #{task.createdByEmail || "-"}
        
        if labels.task.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.task.updatedBy}
            span.field-value #{task.updatedByEmail || "-"}


      form(action=`/tasks/${task.id}?_method=DELETE`, name="deleteTaskForm", method="post")

      form(action=`/tasks/${task.id}/active?_method=PUT`, name="activeTaskForm", method="post")

      form(action=`/tasks/${task.id}/archive?_method=PUT`, name="archiveTaskForm", method="post")
    
  hr

  .row
    .col-12 
      h3 Comments

      ul 
        each comment in comments 
          li 
            span.comment__createdBy #{comment.createdByEmail} 
            | added a comment on 
            span.comment__createdAt #{comment.createdAt}
            form(action=`/tasks/${task.id}/comments/${comment.id}?_method=DELETE` name="deleteTaskCommentByIdForm" method="post", style="display:inline;") 
              button.btn-link(onclick=`deleteTaskCommentById()`) delete
            p.mt-0.mb-0.mr-0.ml-0 #{comment.comment} 

      form(action=`/tasks/${task.id}/comments`, method="post")
        .form-group 
          label(for="comment") #{labels.task.comment}
          textarea(name="comment", id="comment" cols="30", rows="5", placeholder="Add a comment") #{task ? task.comment : ""}
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create comment

  hr 
  
  //- Files section.
  .row
    .col-12 
      h3 Files
  
      form(action=`/tasks/${task.id}/files`, method="post", enctype="multipart/form-data").mb-4
        .row.align-items-center 
          .col-8
            label(for="file") Upload file:
            input#file(type="file", name="displayName", accept="*")
          .col-4.text-end
            button(type="submit").btn.mt-4 Upload
  
      //- modals for deleting files
      each file in files
        .modal(id=`file-modal-${file.id}`)
          .modal-content
            p Are you sure you want to delete this file?
            form(action=`/tasks/${task.id}/files/${file.id}?_method=DELETE`, method="post")
              button(type="submit").mr-2 Yes, delete
              button(type="button" class="cancel-modal") Cancel

      table 
        thead 
          tr 
            th Id 
            th Name 
            th Created at 
            th Created by 
            th 
        tbody 
          if files.length > 0
            for file in files  
              tr 
                td 
                  a(href=`/tasks/${task.id}/files/${file.id}`) #{file.id}
                td 
                  a(href=`/tasks/${task.id}/files/${file.id}`) #{file.displayName}
                td #{file.cretedAt || "-"}
                td #{file.createdByEmail || "-"}
                td 
                  //- show delete button if the user is the creator of the comment
                  if currentUser.id == file.createdById
                    button.btn-link.open-modal(data-modal=`file-modal-${file.id}`) delete
          else 
            tr 
              td(colspan=5).text-center No files found.