extends ../layout
include ../mixins/index
include ../mixins/pagination

block content
    .row.align-items-center 
        +title("deals")
        
        .col-12
            +search("deals", "Type name and press Enter")

            table 
                thead 
                    tr 
                        each column in columns
                            //- id
                            if column.field === "id" && labels.deal[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/deals?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                    else 
                                        a(href=`/deals?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                        
                                    if orderBy === 'id'
                                        span.order-wrapper= orderDir
                                    
                            //- name
                            else if column.field === "name" && labels.deal[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/deals?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                    else 
                                        a(href=`/deals?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                    
                                    if orderBy === 'name'
                                        span.order-wrapper= orderDir

                            //- updatedAt
                            else if column.field === "updatedAt" && labels.deal[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/deals?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                    else 
                                        a(href=`/deals?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.deal[column.field]
                                        
                                    if orderBy === 'updatedAt'
                                        span.order-wrapper= orderDir

                            else 
                                if labels.deal[column.field]
                                    th= labels.deal[column.field]
            
    

                tbody 
                    if deals.length > 0
                        each deal in deals 
                            tr
                                each column in columns
                                    if column.field === "id" && labels.deal[column.field]
                                        td
                                            a(href=`/deals/${deal.id}`) #{deal.id}
                
                                    else if column.field === "name" && labels.deal[column.field]
                                        td 
                                            a(href=`/deals/${deal.id}`) #{deal.name}
                                            if (!deal.isActive)
                                                span.archive-status (archived)
                                    
                                    else 
                                        if labels.deal[column.field]
                                            td= deal[column.alias]
                    else 
                        tr 
                            td(colspan=`${columns.length}`).text-center No #{downcase(labels.module.deal)} found.
        
        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)
