extends ../layout
include ../quotes/inline-quotes
include ../tickets/inline-tickets
include ../tasks/inline-tasks

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/deals").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/deals/${deal.id}/edit`).dropdown-item Edit #{singular(downcase(labels.module.deal))}
            if deal.isActive
              button.dropdown-item(onclick="archiveDeal()") Archive #{singular(downcase(labels.module.deal))} 
            if !deal.isActive && currentUser.type == 'admin'
              button.dropdown-item(onclick="activeDeal()") Active #{singular(downcase(labels.module.deal))} 
            button.dropdown-item(onclick="deleteDeal()") Delete #{singular(downcase(labels.module.deal))} 

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        labels.deal.name
          .col-12.mb-4
            label(for="name").field-name #{labels.deal.name} 
            span.field-value #{deal.name}
              if !deal.isActive 
                span.archive-status (archived)

        if labels.deal.dealSourceId
          .col-12.mb-4
            label(for="dealSourceId").field-name #{labels.deal.dealSourceId}
            span.field-value #{deal.dealSource}

        if labels.deal.total
          .col-12.mb-4
            label(for="total").field-name #{labels.deal.total}
            span.field-value #{deal.total}

        if labels.deal.description
          .col-12.mb-4
            label(for="description").field-name #{labels.deal.description}
            span.field-value #{deal.description || "-"}
        
        if labels.deal.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.deal.createdAt}
            span.field-value #{deal.createdAt || "-"}
        
        if labels.deal.updatedAt
          .col-6.mb-4
            label(for="updatedAt").field-name #{labels.deal.updatedAt}
            span.field-value #{deal.updatedAt || "-"}

        if labels.deal.createdBy
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.deal.createdBy}
            span.field-value #{deal.createdByEmail || "-"}
        
        if labels.deal.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.deal.updatedBy}
            span.field-value #{deal.updatedByEmail || "-"}


      form(action=`/deals/${deal.id}?_method=DELETE`, name="deleteDealForm", method="post")

      form(action=`/deals/${deal.id}/active?_method=PUT`, name="activeDealForm", method="post")

      form(action=`/deals/${deal.id}/archive?_method=PUT`, name="archiveDealForm", method="post")

  hr

  .row
    .col-12 
      h3 Comments

      ul 
        each comment in comments 
          li 
            span.comment__createdBy #{comment.createdByEmail} 
            | added a comment on 
            span.comment__createdAt #{comment.createdAt}
            form(action=`/deals/${deal.id}/comments/${comment.id}?_method=DELETE` name="deleteDealCommentByIdForm" method="post", style="display:inline;") 
              button.btn-link(onclick=`deleteDealCommentById()`) delete
            p.mt-0.mb-0.mr-0.ml-0 #{comment.comment} 

      form(action=`/deals/${deal.id}/comments`, method="post")
        .form-group 
          label(for="comment") #{labels.deal.comment}
          textarea(name="comment", id="comment" cols="30", rows="5", placeholder="Add a comment") #{deal ? deal.comment : ""}
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create comment
  
  hr
  
  +inlineQuotes("deal", deal.id)

  hr
  
  +inlineTickets("deal", deal.id)

  hr

  +inlineTasks("deal", deal.id)
