//- name
if labels.company.name
    .form-group 
        label(for="name") #{labels.company.name}
        input(type="text", name="name", id="name", value=company ? company.name : "", placeholder="Google, Inc.", autofocus=true)

//- website
if labels.company.website
    .form-group 
        label(for="website") #{labels.company.website}
        input(type="text", name="website", id="website", value=company ? company.website : "", placeholder="https://google.com", autofocus=true)

//- email
if labels.company.email
    .form-group 
        label(for="email") #{labels.company.email}
        input(type="text", name="email", id="email", value=company ? company.email : "", placeholder="kai@doe.com", autofocus=true)

//- phone
if labels.company.phone
    .form-group 
        label(for="phone") #{labels.company.phone}
        input(type="text", name="phone", id="phone", value=company ? company.phone : "", placeholder="+91 9876543210", autofocus=true)

//- mobile
if labels.company.mobile
    .form-group 
        label(for="mobile") #{labels.company.mobile}
        input(type="text", name="mobile", id="mobile", value=company ? company.mobile : "", placeholder="+91 0123456789", autofocus=true)

//- fax
if labels.company.fax
    .form-group 
        label(for="fax") #{labels.company.fax}
        input(type="text", name="fax", id="fax", value=company ? company.fax : "", placeholder="+91 1234567890", autofocus=true)

//- address1
if labels.company.address1
    .form-group 
        label(for="address1") #{labels.company.address1}
        input(type="text", name="address1", id="address1", value=company ? company.address1 : "", placeholder="A-101 Gandhi Street", autofocus=true)

//- address2
if labels.company.address2
    .form-group 
        label(for="address2") #{labels.company.address2}
        input(type="text", name="address2", id="address2", value=company ? company.address2 : "", placeholder="Nr. Mahatma Statue", autofocus=true)

//- city
if labels.company.city
    .form-group 
        label(for="city") #{labels.company.city}
        input(type="text", name="city", id="city", value=company ? company.address2 : "", placeholder="Old City", autofocus=true)

//- stateId
if labels.company.stateId
    .form-group 
        label(for="stateId") #{labels.company.stateId}
        select(name="stateId", id="stateId")
            for state in states
                option(value=state.id, selected=company && state.id == company.stateId) #{state.name}

//- zip
if labels.company.zip
    .form-group 
        label(for="zip") #{labels.company.zip}
        input(type="text", name="zip", id="zip", value=company ? company.zip : "", placeholder="300 000", autofocus=true)

//- countryId
if labels.company.countryId
    .form-group 
        label(for="countryId") #{labels.company.countryId}
        select(name="countryId", id="countryId")
            for country in countries
                option(value=country.id, selected=company && country.id == company.countryId) #{country.name}

//- sourceId
if labels.company.sourceId
    .form-group 
        label(for="sourceId") #{labels.company.sourceId}
        select(name="sourceId", id="sourceId")
            for source in sources
                option(value=source.id, selected=company && source.id == company.sourceId) #{source.name}

//- statusId
if labels.company.statusId
    .form-group 
        label(for="statusId") #{labels.company.statusId}
        select(name="statusId", id="statusId")
            for status in statuses
                option(value=status.id, selected=company && status.id == company.statusId) #{status.name}

//- stageId
if labels.company.stageId
    .form-group 
        label(for="stageId") #{labels.company.stageId}
        select(name="stageId", id="stageId")
            for stage in stages
                option(value=stage.id, selected=company && stage.id == company.stageId) #{stage.name}

//- industryId
if labels.company.industryId
    .form-group 
        label(for="industryId") #{labels.company.industryId}
        select(name="industryId", id="industryId")
            for industry in industries
                option(value=industry.id, selected=company && industry.id == company.industryId) #{industry.name}

//- closeDate
if labels.company.closeDate
    .form-group 
        label(for="closeDate") #{labels.company.closeDate}
        input(type="text", name="closeDate", id="closeDate", value=company ? company.closeDate : "", placeholder="01/01/2022", autofocus=true)

//- closeReason
if labels.company.closeReason
    .form-group 
        label(for="closeReason") #{labels.company.closeReason}
        input(type="text", name="closeReason", id="closeReason", value=company ? company.closeReason : "", placeholder="Found another company", autofocus=true)

//- assigneeId
if labels.company.assigneeId
    .form-group 
        label(for="assigneeId") #{labels.company.assigneeId}
        input(type="text", name="assigneeId", id="assigneeId", value=company ? company.assigneeId : "", placeholder="Kai Doe", autofocus=true)

//- revenue
if labels.company.revenue
    .form-group 
        label(for="revenue") #{labels.company.revenue}
        input(type="text", name="revenue", id="revenue", value=company ? company.assigneeId : "", placeholder="$100,000,000", autofocus=true)

//- typeId
if labels.company.typeId
    .form-group 
        label(for="typeId") #{labels.company.typeId}
        select(name="typeId", id="typeId")
            for type in types
                option(value=type.id, selected=company && type.id == company.typeId) #{type.name}

//- employeeSize
if labels.company.employeeSize
    .form-group 
        label(for="employeeSize") #{labels.company.employeeSize}
        input(type="text", name="employeeSize", id="employeeSize", value=company ? company.employeeSize : "", placeholder="1200", autofocus=true)

//- companySourceId
if labels.company.companySourceId
    .form-group 
        label(for="companySourceId") #{labels.company.companySourceId}
        select(name="companySourceId", id="companySourceId")
            for companySource in companySources
                option(value=companySource.id, selected=company && companySource.id == company.companySourceId) #{companySource.name}

//- description
if labels.company.description
    .form-group 
        label(for="description") #{labels.company.description}
        textarea(name="description", id="description", cols="30", rows="10", placeholder="Add informative optional description") #{company ? company.description : ""}
