extends ../layout
include ../mixins/pagination

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      a(href="/companies/new").btn New company
    
    .col-12
      form(action="/companies", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type name and press Enter")

      include ../partials/flash
    
      table
        thead 
          tr
            th  
            th
              if orderDir === 'ASC'
                a(href=`/companies?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{companyFields.id}
              else 
                a(href=`/companies?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{companyFields.id}
              
              if orderBy === 'id'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/companies?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) #{companyFields.name}
              else 
                a(href=`/companies?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) #{companyFields.name}
              
              if orderBy === 'name'
                span.order-wrapper= orderDir


            th #{companyFields.companySourceId}
            th #{companyFields.updatedBy}

            th
              if orderDir === 'ASC'
                a(href=`/companies?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{companyFields.updatedAt}
              else 
                a(href=`/companies?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{companyFields.updatedAt}
              
              if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
            
        tbody 
          if companies.length > 0
            each company in companies 
              tr
                td 
                  input(type="checkbox", name="companyId", value= company.id)
                td
                  a(href=`/companies/${company.id}`) #{company.id}
                td #{company.name}
                  if (!company.isActive)
                    span.archive-status (archived)
                td #{company.companySource || "-" }
                td #{company.updatedByEmail || "-" }
                td #{company.updatedAt || "-" } 
          else 
            tr 
              td(colspan=7).text-center No companies found.

    .col-12 
      +pagination(pagination.first, pagination.prev, pagination.next, pagination.last)