extends ../layout
include ../mixins/index
include ../mixins/pagination

block content
    .row.align-items-center 
        +title("companies")
        
        .col-12
            +search("companies", "Type name and press Enter")

            include ../partials/flash

            table 
                thead 
                    tr 
                        each column in columns 
                            if column.func 
                                th!= column.func(column.header)
                            else
                                th= column.header 
                    
                tbody 
                    if companies.length > 0
                        each company in companies 
                            tr 
                                each column in columns 
                                    if column.compose 
                                        td!= column.compose(company)
                                    else
                                        td= company[column.field]
                    else 
                        tr 
                            td(colspan=`${columns.length}`).text-center No #{downcase(labels.module.company)} found. 

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)
        
        //- modal to change the view
        .modal(id="change-view-modal")
          .modal-content
            p Let's change the view
            form(action="/companies/views/fields", method="post")
                label(for="fields") Select fields
                select#fields(name="fields" class="mb-4" multiple) 
                    each field in viewFields
                        option(value=field.name)= field.displayName
                
                button(type="submit").mr-2 Submit
                button(type="button" class="cancel-modal") Cancel