extends ../layout
include ../contacts/inline-contacts
include ../deals/inline-deals
include ../quotes/inline-quotes
include ../tickets/inline-tickets
include ../tasks/inline-tasks

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/companies").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/companies/${company.id}/edit`).dropdown-item Edit #{singular(downcase(labels.module.company))}
            if company.isActive 
              button.dropdown-item(onclick="archiveCompany()") Archive #{singular(downcase(labels.module.company))}
            if !company.isActive && currentUser.type == 'admin'
              button.dropdown-item(onclick="activeCompany()") Active #{singular(downcase(labels.module.company))} 
            button.dropdown-item(onclick="deleteCompany()") Delete #{singular(downcase(labels.module.company))}

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        if labels.company.name
          .col-12.mb-4
            label(for="name").field-name #{labels.company.name} 
            span.field-value #{company.name}
              if !company.isActive 
                span.archive-status (archived)

        if labels.company.companySourceId
          .col-12.mb-4
            label(for="companySourceId").field-name #{labels.company.companySourceId}
            span.field-value #{company.companySource}

        if labels.company.employeeSize
          .col-12.mb-4
            label(for="employeeSize").field-name #{labels.company.employeeSize}
            span.field-value #{company.employeeSize}

        if labels.company.description
          .col-12.mb-4
            label(for="description").field-name #{labels.company.description}
            span.field-value #{company.description || "-"}
        
        if labels.company.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.company.createdAt}
            span.field-value #{company.createdAt || "-"}
        
        if labels.company.updatedAt
        .col-6.mb-4
          label(for="updatedAt").field-name #{labels.company.updatedAt}
          span.field-value #{company.updatedAt || "-"}

        if labels.company.createdBy
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.company.createdBy}
            span.field-value #{company.createdByEmail || "-"}
        
        if labels.company.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.company.updatedBy}
            span.field-value #{company.updatedByEmail || "-"}


      form(action=`/companies/${company.id}?_method=DELETE`, name="deleteCompanyForm", method="post")

      form(action=`/companies/${company.id}/active?_method=PUT`, name="activeCompanyForm", method="post")

      form(action=`/companies/${company.id}/archive?_method=PUT`, name="archiveCompanyForm", method="post")
    
  hr

  //- Comment section.
  .row
    .col-12 
      h3 Comments

      ul 
        each comment in comments 
          li 
            span.comment__createdBy #{comment.createdByEmail} 
            | added a comment on 
            span.comment__createdAt #{comment.createdAt}
            if currentUser.id == comment.createdById
              button.btn-link.open-modal(data-modal=`deleteCommentModal-${comment.id}`) delete
            p.mt-0.mb-0.mr-0.ml-0 #{comment.comment} 

      form(action=`/companies/${company.id}/comments`, method="post")
        .form-group 
          label(for="comment") #{labels.company.comment}
          textarea(name="comment", id="comment" cols="30", rows="5", placeholder="Add a comment") #{company ? company.comment : ""}
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create comment

      //- Modals for deleting comments
      each comment in comments
        .modal(id=`deleteCommentModal-${comment.id}`)
          .modal-content
            p Are you sure you want to delete this comment?
            form(action=`/companies/${company.id}/comments/${comment.id}?_method=DELETE`, method="post")
              button(type="submit").mr-2 Yes, delete
              button(type="button" class="cancel-modal") Cancel

  hr
  
  +inlineContacts("company", company.id)

  hr
  
  +inlineDeals("company", company.id)

  hr
  
  +inlineQuotes("company", company.id)

  hr
  
  +inlineTickets("company", company.id)

  hr

  +inlineTasks("company", company.id)
