extends ../layout

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/companies").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/companies/${company.id}/edit`).dropdown-item Edit company
            button.dropdown-item(onclick="activeCompany()") Active company 
            button.dropdown-item(onclick="archiveCompany()") Archive company 
            button.dropdown-item(onclick="deleteCompany()") Delete company 

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        if labels.company.name
          .col-12.mb-4
            label(for="name").field-name #{labels.company.name} 
            span.field-value #{company.name}
              if !company.isActive 
                span.archive-status (archived)

        if labels.company.companySourceId
          .col-12.mb-4
            label(for="companySourceId").field-name #{labels.company.companySourceId}
            span.field-value #{company.companySource}

        if labels.company.employeeSize
          .col-12.mb-4
            label(for="employeeSize").field-name #{labels.company.employeeSize}
            span.field-value #{company.employeeSize}

        if labels.company.description
          .col-12.mb-4
            label(for="description").field-name #{labels.company.description}
            span.field-value #{company.description || "-"}
        
        if labels.company.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.company.createdAt}
            span.field-value #{company.createdAt || "-"}
        
        if labels.company.updatedAt
        .col-6.mb-4
          label(for="updatedAt").field-name #{labels.company.updatedAt}
          span.field-value #{company.updatedAt || "-"}

        if labels.company.createdBy
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.company.createdBy}
            span.field-value #{company.createdByEmail || "-"}
        
        if labels.company.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.company.updatedBy}
            span.field-value #{company.updatedByEmail || "-"}


      form(action=`/companies/${company.id}?_method=DELETE`, name="deleteCompanyForm", method="post")

      form(action=`/companies/${company.id}/active?_method=PUT`, name="activeCompanyForm", method="post")

      form(action=`/companies/${company.id}/archive?_method=PUT`, name="archiveCompanyForm", method="post")
    
  hr
  
  .row.mb-4.mt-4.align-items-center
    .col-6 
      h3 Contacts 
    .col-6.text-end
      a(href=`/contacts/new?companyId=${company.id}`).btn New contact

  .row
    .col-12 
      table 
        thead 
          tr 
            th Id 
            th Name 
            th Updated at 
            th Updated by 
        tbody 
          if contacts.length > 0
            for contact in contacts  
              tr 
                td 
                  a(href=`/contacts/${contact.id}`) #{contact.id}
                td #{contact.firstName + " " + contact.lastName}
                td #{contact.updatedAt || "-"}
                td #{contact.updatedByEmail || "-"}
