extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/sources").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/sources/${source.id}/edit`, title="Edit source").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activeSource()").dropdown-item Active source
                        button(type="button", onClick="archiveSource()").dropdown-item Archive source
                        button(type="button", onClick="deleteSource()").dropdown-item Delete source

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{source.name}
                    if !source.isActive 
                        span.archive-status (archived)

                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{source.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{source.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{source.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{source.updatedByEmail || "-"}


            form(action=`/admin/sources/${source.id}?_method=DELETE`, name="deleteSourceForm", method="post") 

            form(action=`/admin/sources/${source.id}/active?_method=PUT`, name="activeSourceForm", method="post") 

            form(action=`/admin/sources/${source.id}/archive?_method=PUT`, name="archiveSourceForm", method="post") 