mixin head(header)
    //- id
    if header === "id" && labels.task.id
        th
            if orderDir === 'ASC'
                a(href=`/tasks?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
            else 
                a(href=`/tasks?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
                  
            if orderBy === 'id'
                span.order-wrapper= orderDir
              
    //- name
    if header === "name" && labels.task.name
        th
            if orderDir === 'ASC'
                a(href=`/tasks?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
            else 
                a(href=`/tasks?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
                  
            if orderBy === 'name'
                span.order-wrapper= orderDir

    //- taskTypeId
    if header === "taskTypeId" && labels.task.taskTypeId
        th #{labels.task[header]}
              
    //- updatedBy
    if header === "updatedBy" && labels.task.updatedBy
        th #{labels.task[header]}
              
    //- updatedAt
    if header === "updatedAt" && labels.task.updatedAt
        th
            if orderDir === 'ASC'
                a(href=`/tasks?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
            else 
                a(href=`/tasks?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.task[header]}
                  
            if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
