extends ../../layout
include ../../mixins/pagination

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      .dropdown.mr-4 
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            button.dropdown-item(onclick="activeMultipleUsers()") Active Multiple Users
            button.dropdown-item(onclick="deActiveMultipleUsers()") archived Multiple Users
            button.dropdown-item(onclick="deleteMultipleUsers()") Delete Multiple Users

      a(href="/admin/users/new").btn New user

    .col-12
      form(action="/admin/users", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type email and press Enter")

      table
        thead 
          tr
            th  
            th
              if orderDir === 'ASC'
                a(href=`/admin/users?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) Id
              else 
                a(href=`/admin/users?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) Id
              
              if orderBy === 'id'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/admin/users?orderBy=email&orderDir=DESC${search ? `&search=${search}` : ''}`) Email
              else 
                a(href=`/admin/users?orderBy=email&orderDir=ASC${search ? `&search=${search}` : ''}`) Email
              
              if orderBy === 'email'
                span.order-wrapper= orderDir

            th Created by
            th Updated by

            th
              if orderDir === 'ASC'
                a(href=`/admin/users?orderBy=createdAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Created at
              else 
                a(href=`/admin/users?orderBy=createdAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Created at
              
              if orderBy === 'createdAt'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/admin/users?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Updated at
              else 
                a(href=`/admin/users?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Updated at
              
              if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
            
        tbody 
          if users.length > 0
            each user in users 
              tr
                td 
                  input(type="checkbox", name="userId", value= user.id)
                td
                  a(href=`/admin/users/${user.id}`) #{user.id}
                td #{user.email}
                  if (!user.isActive)
                    span.archive-status (archived)
                td #{user.createdByEmail || "-" }
                td #{user.updatedByEmail || "-" }
                td #{user.createdAt || "-" }
                td #{user.updatedAt || "-" } 
          else 
            tr 
              td(colspan=2).text-center No users found.
    
      form(action="/admin/users/mass-actions/active?_method=PUT", name="massUserActiveForm" method="post") 
        input(type="hidden", name="toActiveUserIds", id="toActiveUserIds" value="")
      
      form(action="/admin/users/mass-actions/deactive?_method=PUT", name="massUserDeActiveForm" method="post") 
        input(type="hidden", name="toDeActiveUserIds", id="toDeActiveUserIds" value="")
      
      form(action="/admin/users/mass-actions/delete?_method=DELETE", name="massDeleteUsersForm" method="post") 
        input(type="hidden", name="deleteUserIds", id="deleteUserIds" value="")

    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)