mixin indexHeaders(header)
    //- id
    if header === "id" && labels.deal.id
        th
            if orderDir === 'ASC'
                a(href=`/deals?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
            else 
                a(href=`/deals?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
                
            if orderBy === 'id'
                span.order-wrapper= orderDir
            
    //- name
    if header === "name" && labels.deal.name
        th
            if orderDir === 'ASC'
                a(href=`/deals?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
            else 
                a(href=`/deals?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
            
            if orderBy === 'name'
                span.order-wrapper= orderDir

    //- dealSourceId
    if header === "dealSourceId" && labels.deal.dealSourceId
        th #{labels.deal[header]}
            
    //- updatedBy
    if header === "updatedBy" && labels.deal.updatedBy
        th #{labels.deal[header]}
            
    //- updatedAt
    if header === "updatedAt" && labels.deal.updatedAt
        th
            if orderDir === 'ASC'
                a(href=`/deals?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
            else 
                a(href=`/deals?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.deal[header]}
                
            if orderBy === 'updatedAt'
                span.order-wrapper= orderDir