//- name
if labels.quote.name
    .form-group 
        label(for="name") #{labels.quote.name}
        input(type="text", name="name", id="name", value=quote ? quote.name : "", placeholder="42 New LED Monitors", autofocus=true)

//- total
if labels.quote.total
    .form-group 
        label(for="total") #{labels.quote.total}
        input(type="text", name="total", id="total", value=quote ? quote.total : 0, placeholder="1200")

//- description
if labels.quote.description
    .form-group 
        label(for="description") #{labels.quote.description}
        textarea(name="description", id="description", cols="30", rows="10", placeholder="Add informative optional description") #{quote ? quote.description : ""}

//- sourceId
if labels.quote.sourceId
    .form-group 
        label(for="sourceId") #{labels.quote.sourceId}
        select(name="sourceId", id="sourceId")
            for source in sources
                option(value=source.id, selected=ticket && source.id == ticket.sourceId) #{source.name}

//- stageId
if labels.quote.stageId
    .form-group 
        label(for="stageId") #{labels.quote.stageId}
        select(name="stageId", id="stageId")
            for stage in stages
                option(value=stage.id, selected=ticket && stage.id == ticket.stageId) #{stage.name}

//- statusId
if labels.quote.statusId
    .form-group 
        label(for="statusId") #{labels.quote.statusId}
        select(name="statusId", id="statusId")
            for status in statuses
                option(value=status.id, selected=ticket && status.id == ticket.statusId) #{status.name}


//- discount
if labels.quote.discount
    .form-group 
        label(for="discount") #{labels.quote.discount}
        select(name="discountId", id="discountId")
            for discount in discounts
                option(value=discount.id, selected=ticket && discount.id == ticket.discountId) #{discount.name}

//- tax
if labels.quote.tax
    .form-group 
        label(for="tax") #{labels.quote.tax}
        select(name="taxId", id="taxId")
            for tax in taxes
                option(value=tax.id, selected=ticket && tax.id == ticket.taxId) #{tax.name}

//- probabilityId
if labels.quote.probabilityId
    .form-group 
        label(for="probabilityId") #{labels.quote.probabilityId}
        select(name="probabilityId", id="probabilityId")
            for probability in probabilities
                option(value=probability.id, selected=ticket && probability.id == ticket.probabilityId) #{probability.name}

//- assigneeId
if labels.quote.assigneeId
    .form-group 
        label(for="assigneeId") #{labels.quote.assigneeId}
        input(type="text", name="assigneeId", id="assigneeId", value=quote ? quote.assigneeId : 0, placeholder="")

//- templateId
if labels.quote.templateId
    .form-group 
        label(for="templateId") #{labels.quote.templateId}
        input(type="text", name="templateId", id="templateId", value=quote ? quote.templateId : 0, placeholder="")

//- expireOn
if labels.quote.expireOn
    .form-group 
        label(for="expireOn") #{labels.quote.expireOn}
        input(type="text", name="expireOn", id="expireOn", value=quote ? quote.expireOn : 0, placeholder="")
