extends ../layout
include ../mixins/index
include ../mixins/pagination

block content
    .row.align-items-center 
        +title("quotes")
    
        .col-12
            +search("quotes", "Type name and press Enter")

            table 
                thead 
                    tr 
                        each column in columns
                            //- id
                            if column.field === "id" && labels.quote[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/quotes?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    else 
                                        a(href=`/quotes?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    
                                    if orderBy === 'id'
                                        span.order-wrapper= orderDir
                                    
                            //- name
                            else if column.field === "name" && labels.quote[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/quotes?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    else 
                                        a(href=`/quotes?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    
                                    if orderBy === 'name'
                                        span.order-wrapper= orderDir
                                    
                            //- updatedAt
                            else if column.field === "updatedAt" && labels.quote[column.field]
                                th
                                    if orderDir === 'ASC'
                                        a(href=`/quotes?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    else 
                                        a(href=`/quotes?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`)= labels.quote[column.field]
                                    
                                    if orderBy === 'updatedAt'
                                        span.order-wrapper= orderDir
                            
                            else 
                                if labels.quote[column.field]
                                    th= labels.quote[column.field]

                tbody 
                    if quotes.length > 0
                        each quote in quotes 
                            tr
                                each column in columns
                                    if column.field === "id" && labels.quote[column.field]
                                        td
                                            a(href=`/quotes/${quote.id}`) #{quote.id}

                                    else if column.field === "name" && labels.quote[column.field]
                                        td 
                                            a(href=`/quotes/${quote.id}`) #{quote.name}
                                            if (!quote.isActive)
                                                span.archive-status (archived)

                                    else
                                        if labels.quote[column.field]
                                            td= quote[column.alias]
                    else 
                        tr 
                            td(colspan=`${columns.length}`).text-center No #{downcase(labels.module.quote)} found.

        .col-12 
            +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)
