extends ../../layout

block content
    .row 
        .col-6 
            h1= title

            form(action=`/admin/labels/${locals.label.key}/${label_.id}?_method=PUT`, method="post") 
                .form-group 
                    label(for="displayName") Display name
                    input(type="text", name="displayName", id="displayName", value=label_.displayName, placeholder="Visitor", autofocus=true)

                .form-group 
                    .row.align-items-center 
                        .col-6 
                            button(type="submit") Update #{locals.label.singularName}
                        .col-6.text-end
                            a(href=`/admin/labels/${locals.label.key}/${label_.id}`).btn.is-muted Cancel
