extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/stages").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/stages/${stage.id}/edit`, title="Edit stage").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activeStage()").dropdown-item Active stage
                        button(type="button", onClick="archiveStage()").dropdown-item Archive stage
                        button(type="button", onClick="deleteStage()").dropdown-item Delete stage

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{stage.name}
                    if !stage.isActive 
                        span.archive-stage (archived)

                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{stage.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{stage.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{stage.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{stage.updatedByEmail || "-"}


            form(action=`/admin/stages/${stage.id}?_method=DELETE`, name="deleteStageForm", method="post") 

            form(action=`/admin/stages/${stage.id}/active?_method=PUT`, name="activeStageForm", method="post") 

            form(action=`/admin/stages/${stage.id}/archive?_method=PUT`, name="archiveStageForm", method="post") 