extends ../layout

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      a(href="/users/new").btn New user

    .col-12
      form(action="/users", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type email and press Enter")

      include ../partials/flash

      table
        thead 
          tr 
            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) Id
              else 
                a(href=`/users?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) Id
              
              if orderBy === 'id'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=email&orderDir=DESC${search ? `&search=${search}` : ''}`) Email
              else 
                a(href=`/users?orderBy=email&orderDir=ASC${search ? `&search=${search}` : ''}`) Email
              
              if orderBy === 'email'
                span.order-wrapper= orderDir

            th Created by
            th Updated by
            th Created at
            th Updated at
        tbody 
          if users.length > 0
            each user in users 
              tr 
                td
                  a(href=`/users/${user.id}`) #{user.id}
                td #{user.email}
                td #{user.createdByEmail || "-" }
                td #{user.updatedByEmail || "-" }
                td #{user.createdAt || "-" }
                td #{user.updatedAt || "-" } 
          else 
            tr 
              td(colspan=2).text-center No users found.
    
    .col-12 
      if pagination.first
        a(href=pagination.first).btn.mr-4 First
      else 
        button(disabled).btn.mr-4 First

      if pagination.prev
        a(href=pagination.prev).btn.mr-4 Prev 
      else 
        button(disabled).btn.mr-4 Prev

      if pagination.next
        a(href=pagination.next).btn.mr-4 Next 
      else 
        button(disabled).btn.mr-4 Next

      if pagination.last 
        a(href=pagination.last).btn.mr-4 Last
      else 
        button(disabled).btn.mr-4 Last