extends ../layout

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      .dropdown.mr-4 
        button.dropdown-trigger Actions &#9058;
        .dropdown-menu
          .dropdown-content 
            button.dropdown-item(onclick="activeMultipleUsers()") Active Multiple Users
            button.dropdown-item(onclick="deActiveMultipleUsers()") De-active Multiple Users
            a(href="").dropdown-item Delete Multiple Users

      a(href="/users/new").btn New user

    .col-12
      form(action="/users", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type email and press Enter")

      include ../partials/flash

      table
        thead 
          tr
            th  
            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) Id
              else 
                a(href=`/users?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) Id
              
              if orderBy === 'id'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=email&orderDir=DESC${search ? `&search=${search}` : ''}`) Email
              else 
                a(href=`/users?orderBy=email&orderDir=ASC${search ? `&search=${search}` : ''}`) Email
              
              if orderBy === 'email'
                span.order-wrapper= orderDir

            th Created by
            th Updated by

            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=createdAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Created at
              else 
                a(href=`/users?orderBy=createdAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Created at
              
              if orderBy === 'createdAt'
                span.order-wrapper= orderDir

            th
              if orderDir === 'ASC'
                a(href=`/users?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) Updated at
              else 
                a(href=`/users?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) Updated at
              
              if orderBy === 'updatedAt'
                span.order-wrapper= orderDir
            
        tbody 
          if users.length > 0
            each user in users 
              tr
                td 
                  input(type="checkbox", name="userId", value= user.id)
                td
                  a(href=`/users/${user.id}`) #{user.id}
                td #{user.email}
                  if (!user.isActive)
                    span.user-archive-status (de-active)
                td #{user.createdByEmail || "-" }
                td #{user.updatedByEmail || "-" }
                td #{user.createdAt || "-" }
                td #{user.updatedAt || "-" } 
          else 
            tr 
              td(colspan=2).text-center No users found.
    
      form(action="/users/mass-actions/active?_method=PUT", name="massUserActiveForm" method="post") 
        input(type="hidden", name="userIds", id="userIds" value="")

    .col-12 
      if pagination.first
        a(href=pagination.first).btn.mr-4 First
      else 
        button(disabled).btn.mr-4 First

      if pagination.prev
        a(href=pagination.prev).btn.mr-4 Prev 
      else 
        button(disabled).btn.mr-4 Prev

      if pagination.next
        a(href=pagination.next).btn.mr-4 Next 
      else 
        button(disabled).btn.mr-4 Next

      if pagination.last 
        a(href=pagination.last).btn.mr-4 Last
      else 
        button(disabled).btn.mr-4 Last