mixin head(header)
    //- id
    if header === "id" && labels.ticket.id
        th
            if orderDir === 'ASC'
                a(href=`/tickets?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            else 
                a(href=`/tickets?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            
            if orderBy === 'id'
                span.order-wrapper= orderDir
              
    //- name
    if header === "name" && labels.ticket.name
        th
            if orderDir === 'ASC'
                a(href=`/tickets?orderBy=name&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            else 
                a(href=`/tickets?orderBy=name&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            
            if orderBy === 'name'
                span.order-wrapper= orderDir

    //- ticketTypeId
    if header === "ticketTypeId" && labels.ticket.ticketTypeId
        th #{labels.ticket[header]}
              
    //- updatedBy
    if header === "updatedBy" && labels.ticket.updatedBy
        th #{labels.ticket[header]}
              
    //- updatedAt
    if header === "updatedAt" && labels.ticket.updatedAt
        th
            if orderDir === 'ASC'
                a(href=`/tickets?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            else 
                a(href=`/tickets?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{labels.ticket[header]}
            
            if orderBy === 'updatedAt'
                span.order-wrapper= orderDir