extends ../../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/labels/tickets").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/labels/tickets/${ticketLabel.id}/edit`).dropdown-item Edit ticket label
            button(type="button", onClick="activeTicketLabel()").dropdown-item Active ticket label
            button(type="button", onClick="archiveTicketLabel()").dropdown-item Archive ticket label

    .col-12
      include ../../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{ticketLabel.name}
            if !ticketLabel.isActive 
              span.archive-status (archived)

        .col-12.mb-4
          label(for="displayName").field-name Display name 
          span.field-value #{ticketLabel.displayName}

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{ticketLabel.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{ticketLabel.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{ticketLabel.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{ticketLabel.updatedByEmail || "-"}


      form(action=`/admin/labels/tickets/${ticketLabel.id}?_method=DELETE`, name="deleteTicketLabelForm", method="post") 

      form(action=`/admin/labels/tickets/${ticketLabel.id}/active?_method=PUT`, name="activeTicketLabelForm", method="post") 

      form(action=`/admin/labels/tickets/${ticketLabel.id}/archive?_method=PUT`, name="archiveTicketLabelForm", method="post") 