extends ../layout
include ../mixins/pagination

block content
  .row.align-items-center 
    .col-8 
      h1 #{title} (#{count})
    .col-4.text-end 
      a(href="/contacts/new").btn New contact
    
    .col-12
      form(action="/contacts", method="get") 
        .form-group 
          input(type="hidden", name="orderBy", value=orderBy)
          input(type="hidden", name="orderDir", value=orderDir)
          input(type="text", name="search", value=search, autofocus=true, placeholder="Type last name and press Enter")

      include ../partials/flash
    
      table
        thead 
          tr
            th
            each header in headers
              if header === "id" && contactFields.id
                th
                  if orderDir === 'ASC'
                    a(href=`/contacts?orderBy=id&orderDir=DESC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  else 
                    a(href=`/contacts?orderBy=id&orderDir=ASC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  
                  if orderBy === 'id'
                    span.order-wrapper= orderDir
              
              if header === "name" && contactFields.name
                th
                  if orderDir === 'ASC'
                    a(href=`/contacts?orderBy=lastName&orderDir=DESC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  else 
                    a(href=`/contacts?orderBy=lastName&orderDir=ASC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  
                  if orderBy === 'lastName'
                    span.order-wrapper= orderDir

              if header === "contactIndustryId" && contactFields.contactIndustryId
                th #{contactFields[header]}

              if header === "updatedBy" && contactFields.updatedBy
                th #{contactFields[header]}
              
              if header === "updatedAt" && contactFields.updatedAt
                th
                  if orderDir === 'ASC'
                    a(href=`/contacts?orderBy=updatedAt&orderDir=DESC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  else 
                    a(href=`/contacts?orderBy=updatedAt&orderDir=ASC${search ? `&search=${search}` : ''}`) #{contactFields[header]}
                  
                  if orderBy === 'updatedAt'
                    span.order-wrapper= orderDir
            
        tbody 
          if contacts.length > 0
            each contact in contacts 
              tr
                if contactFields.id
                  td 
                    input(type="checkbox", name="contactId", value= contact.id)
                
                if contactFields.id
                  td
                    a(href=`/contacts/${contact.id}`) #{contact.id}

                if contactFields.firstName || contactFields.lastName
                  td #{contact.prefix + " " + contact.firstName + " " + contact.lastName}
                    if (!contact.isActive)
                      span.archive-status (archived)
                
                if contactFields.contactIndustryId
                  td #{contact.contactIndustry || "-" }
                
                if contactFields.updatedBy
                  td #{contact.updatedByEmail || "-" }
                
                if contactFields.updatedAt
                  td #{contact.updatedAt || "-" } 
          else 
            tr 
              td(colspan=6).text-center No contacts found.

    .col-12 
      +pagination(paginationLinks.first, paginationLinks.prev, paginationLinks.next, paginationLinks.last)