extends ../layout
include ../deals/inline-deals
include ../quotes/inline-quotes
include ../tickets/inline-tickets
include ../tasks/inline-tasks

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/contacts").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/contacts/${contact.id}/edit`).dropdown-item Edit #{singular(downcase(labels.module.contact))}
            if contact.isActive
              button.dropdown-item(onclick="archiveContact()") Archive #{singular(downcase(labels.module.contact))}
            if !contact.isActive && currentUser.type == 'admin'
              button.dropdown-item(onclick="activeContact()") Active #{singular(downcase(labels.module.contact))}
            button.dropdown-item(onclick="deleteContact()") Delete #{singular(downcase(labels.module.contact))}

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        if labels.contact.prefix
          .col-12.mb-4
            label(for="prefix").field-name #{labels.contact.prefix} 
            span.field-value #{contact.prefix}

        if labels.contact.firstName
          .col-12.mb-4
            label(for="firstName").field-name #{labels.contact.firstName}
            span.field-value #{contact.firstName}
              if !contact.isActive 
                span.archive-status (archived)
        
        if labels.contact.lastName
          .col-12.mb-4
            label(for="lastName").field-name #{labels.contact.lastName}
            span.field-value #{contact.lastName}

        if labels.contact.annualRevenue
          .col-12.mb-4
            label(for="annualRevenue").field-name #{labels.contact.annualRevenue}
            span.field-value #{contact.annualRevenue}

        if labels.contact.contactIndustryId
          .col-12.mb-4
            label(for="contactIndustry").field-name #{labels.contact.contactIndustryId}
            span.field-value #{contact.contactIndustry}

        if labels.contact.description
          .col-12.mb-4
            label(for="description").field-name #{labels.contact.description}
            span.field-value #{contact.description || "-"}
        
        if labels.contact.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.contact.createdAt}
            span.field-value #{contact.createdAt || "-"}
        
        if labels.contact.updatedAt
          .col-6.mb-4
            label(for="updatedAt").field-name #{labels.contact.updatedAt}
            span.field-value #{contact.updatedAt || "-"}

        if labels.contact.updatedAt
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.contact.updatedAt}
            span.field-value #{contact.createdByEmail || "-"}
        
        if labels.contact.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.contact.updatedBy}
            span.field-value #{contact.updatedByEmail || "-"}


      form(action=`/contacts/${contact.id}?_method=DELETE`, name="deleteContactForm", method="post")

      form(action=`/contacts/${contact.id}/active?_method=PUT`, name="activeContactForm", method="post")

      form(action=`/contacts/${contact.id}/archive?_method=PUT`, name="archiveContactForm", method="post")
  
  hr

  .row
    .col-12 
      h3 Comments

      ul 
        each comment in comments 
          li 
            span.comment__createdBy #{comment.createdByEmail} 
            | added a comment on 
            span.comment__createdAt #{comment.createdAt}
            form(action=`/contacts/${contact.id}/comments/${comment.id}?_method=DELETE` name="deleteContactCommentByIdForm" method="post", style="display:inline;") 
              button.btn-link(onclick=`deleteContactCommentById()`) delete
            p.mt-0.mb-0.mr-0.ml-0 #{comment.comment} 

      form(action=`/contacts/${contact.id}/comments`, method="post")
        .form-group 
          label(for="comment") #{labels.contact.comment}
          textarea(name="comment", id="comment" cols="30", rows="5", placeholder="Add a comment") #{contact ? contact.comment : ""}
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create comment
  
  hr

  +inlineDeals("contact", contact.id)

  hr
  
  +inlineQuotes("contact", contact.id)

  hr
  
  +inlineTickets("contact", contact.id)

  hr

  +inlineTasks("contact", contact.id)
