extends ../layout

block content
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/contacts").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu
          .dropdown-content 
            a(href=`/contacts/${contact.id}/edit`).dropdown-item Edit #{singular(downcase(labels.module.contact))}
            if contact.isActive
              button.dropdown-item(onclick="archiveContact()") Archive #{singular(downcase(labels.module.contact))}
            if !contact.isActive && currentUser.type == 'admin'
              button.dropdown-item(onclick="activeContact()") Active #{singular(downcase(labels.module.contact))}
            button.dropdown-item(onclick="deleteContact()") Delete #{singular(downcase(labels.module.contact))}

    .col-12
      include ../partials/flash

    .col-12 
      .row 
        if labels.contact.prefix
          .col-12.mb-4
            label(for="prefix").field-name #{labels.contact.prefix} 
            span.field-value #{contact.prefix}

        if labels.contact.firstName
          .col-12.mb-4
            label(for="firstName").field-name #{labels.contact.firstName}
            span.field-value #{contact.firstName}
              if !contact.isActive 
                span.archive-status (archived)
        
        if labels.contact.lastName
          .col-12.mb-4
            label(for="lastName").field-name #{labels.contact.lastName}
            span.field-value #{contact.lastName}

        if labels.contact.annualRevenue
          .col-12.mb-4
            label(for="annualRevenue").field-name #{labels.contact.annualRevenue}
            span.field-value #{contact.annualRevenue}

        if labels.contact.contactIndustryId
          .col-12.mb-4
            label(for="contactIndustry").field-name #{labels.contact.contactIndustryId}
            span.field-value #{contact.contactIndustry}

        if labels.contact.description
          .col-12.mb-4
            label(for="description").field-name #{labels.contact.description}
            span.field-value #{contact.description || "-"}
        
        if labels.contact.createdAt
          .col-6.mb-4
            label(for="createdAt").field-name #{labels.contact.createdAt}
            span.field-value #{contact.createdAt || "-"}
        
        if labels.contact.updatedAt
          .col-6.mb-4
            label(for="updatedAt").field-name #{labels.contact.updatedAt}
            span.field-value #{contact.updatedAt || "-"}

        if labels.contact.updatedAt
          .col-6.mb-4
            label(for="createdBy").field-name #{labels.contact.updatedAt}
            span.field-value #{contact.createdByEmail || "-"}
        
        if labels.contact.updatedBy
          .col-6.mb-4
            label(for="updatedBy").field-name #{labels.contact.updatedBy}
            span.field-value #{contact.updatedByEmail || "-"}


      form(action=`/contacts/${contact.id}?_method=DELETE`, name="deleteContactForm", method="post")

      form(action=`/contacts/${contact.id}/active?_method=PUT`, name="activeContactForm", method="post")

      form(action=`/contacts/${contact.id}/archive?_method=PUT`, name="archiveContactForm", method="post")
  
  hr

  .row
    .col-12 
      h3 Comments

      ul 
        each comment in comments 
          li 
            span.comment__createdBy #{comment.createdByEmail} 
            | added a comment on 
            span.comment__createdAt #{comment.createdAt}
            form(action=`/contacts/${contact.id}/comments/${comment.id}?_method=DELETE` name="deleteContactCommentByIdForm" method="post", style="display:inline;") 
              button.btn-link(onclick=`deleteContactCommentById()`) delete
            p.mt-0.mb-0.mr-0.ml-0 #{comment.comment} 

      form(action=`/contacts/${contact.id}/comments`, method="post")
        .form-group 
          label(for="comment") #{labels.contact.comment}
          textarea(name="comment", id="comment" cols="30", rows="5", placeholder="Add a comment") #{contact ? contact.comment : ""}
        
        .form-group 
          .row.align-items-center 
            .col-6 
              button(type="submit") Create comment
  
  hr

  .row.mb-4.mt-4.align-items-center
    .col-6 
      h3 #{plural(capitalize(labels.module.deal))}
    .col-6.text-end
      a(href=`/deals/new?contactId=${contact.id}`).btn New #{singular(capitalize(labels.module.deal))}

  .row
    .col-12 
      table 
        thead 
          tr 
            th Id 
            th Name 
            th Updated at 
            th Updated by 
        tbody 
          if deals.length > 0
            for deal in deals  
              tr 
                td 
                  a(href=`/deals/${deal.id}`) #{deal.id}
                td 
                  a(href=`/deals/${deal.id}`) #{deal.name}
                td #{deal.updatedAt || "-"}
                td #{deal.updatedByEmail || "-"}
          else 
            tr 
              td(colspan=4).text-center No #{plural(downcase(labels.module.deal))} found.

  hr
  
  .row.mb-4.mt-4.align-items-center
    .col-6 
      h3 #{plural(capitalize(labels.module.quote))}
    .col-6.text-end
      a(href=`/quotes/new?contactId=${contact.id}`).btn New #{singular(capitalize(labels.module.quote))}

  .row
    .col-12 
      table 
        thead 
          tr 
            th Id 
            th Name 
            th Updated at 
            th Updated by 
        tbody 
          if quotes.length > 0
            for quote in quotes  
              tr 
                td 
                  a(href=`/quotes/${quote.id}`) #{quote.id}
                td 
                  a(href=`/quotes/${quote.id}`) #{quote.name}
                td #{quote.updatedAt || "-"}
                td #{quote.updatedByEmail || "-"}
          else 
            tr 
              td(colspan=4).text-center No #{plural(downcase(labels.module.quote))} found.

  hr
  
  .row.mb-4.mt-4.align-items-center
    .col-6 
      h3 #{plural(capitalize(labels.module.ticket))} 
    .col-6.text-end
      a(href=`/tickets/new?contactId=${contact.id}`).btn New #{singular(capitalize(labels.module.ticket))}

  .row
    .col-12 
      table 
        thead 
          tr 
            th Id 
            th Name 
            th Updated at 
            th Updated by 
        tbody 
          if tickets.length > 0
            for ticket in tickets  
              tr 
                td 
                  a(href=`/tickets/${ticket.id}`) #{ticket.id}
                td 
                  a(href=`/tickets/${ticket.id}`) #{ticket.name}
                td #{ticket.updatedAt || "-"}
                td #{ticket.updatedByEmail || "-"}
          else 
            tr 
              td(colspan=4).text-center No #{plural(downcase(labels.module.ticket))} found.

  hr
  
  .row.mb-4.mt-4.align-items-center
    .col-6 
      h3 #{plural(capitalize(labels.module.task))}
    .col-6.text-end
      a(href=`/tasks/new?contactId=${contact.id}`).btn New #{singular(capitalize(labels.module.task))}

  .row
    .col-12 
      table 
        thead 
          tr 
            th Id 
            th Name 
            th Updated at 
            th Updated by 
        tbody 
          if tasks.length > 0
            for task in tasks  
              tr 
                td 
                  a(href=`/tasks/${task.id}`) #{task.id}
                td 
                  a(href=`/tasks/${task.id}`) #{task.name}
                td #{task.updatedAt || "-"}
                td #{task.updatedByEmail || "-"}
          else 
            tr 
              td(colspan=4).text-center No #{plural(downcase(labels.module.task))} found.