extends ../../layout

block content 
  .row.align-items-center 
    .col-6 
      h1= title
    .col-6.text-end 
      a(href="/admin/contact-industries").btn.is-muted.mr-4 &larr; Back 
      .dropdown
        button.dropdown-trigger Actions
        .dropdown-menu 
          .dropdown-content 
            a(href=`/admin/contact-industries/${contactIndustry.id}/edit`).dropdown-item Edit contact industry
            button(type="button", onClick="activeContactIndustry()").dropdown-item Active contact industry
            button(type="button", onClick="archiveContactIndustry()").dropdown-item Archive contact industry
            button(type="button", onClick="deleteContactIndustry()").dropdown-item Delete contact industry

    .col-12
      include ../../partials/flash

    .col-12 
      .row 
        .col-12.mb-4
          label(for="name").field-name Name 
          span.field-value #{contactIndustry.name} 
            if !contactIndustry.isActive 
              span.archive-status (archived)

        .col-6.mb-4
          label(for="createdAt").field-name Created at
          span.field-value #{contactIndustry.createdAt || "-"}
        
        .col-6.mb-4
          label(for="updatedAt").field-name Updated at
          span.field-value #{contactIndustry.updatedAt || "-"}

        .col-6.mb-4
          label(for="createdBy").field-name Created by
          span.field-value #{contactIndustry.createdByEmail || "-"}
        
        .col-6.mb-4
          label(for="updatedBy").field-name Updated by
          span.field-value #{contactIndustry.updatedByEmail || "-"}


      form(action=`/admin/contact-industries/${contactIndustry.id}?_method=DELETE`, name="deleteContactIndustryForm", method="post") 

      form(action=`/admin/contact-industries/${contactIndustry.id}/active?_method=PUT`, name="activeContactIndustryForm", method="post") 

      form(action=`/admin/contact-industries/${contactIndustry.id}/archive?_method=PUT`, name="archiveContactIndustryForm", method="post") 