extends ../../layout

block content 
    .row.align-items-center 
        .col-6 
            h1= title
        .col-6.text-end 
            a(href="/admin/statuses").btn.is-muted.mr-4 &larr; Back 
            a(href=`/admin/statuses/${status.id}/edit`, title="Edit stage").btn.mr-4 &#9998; Edit
            .dropdown
                button.dropdown-trigger Actions
                .dropdown-menu 
                    .dropdown-content 
                        button(type="button", onClick="activeStatus()").dropdown-item Active status
                        button(type="button", onClick="archiveStatus()").dropdown-item Archive status
                        button(type="button", onClick="deleteStatus()").dropdown-item Delete status

        .col-12
            include ../../partials/flash

        .col-12 
            .row 
                .col-12.mb-4
                    label(for="name").field-name Name 
                    span.field-value #{status.name}
                    if !status.isActive 
                        span.archive-status (archived)

                .col-6.mb-4
                    label(for="createdAt").field-name Created at
                    span.field-value #{status.createdAt || "-"}
                
                .col-6.mb-4
                    label(for="updatedAt").field-name Updated at
                    span.field-value #{status.updatedAt || "-"}

                .col-6.mb-4
                    label(for="createdBy").field-name Created by
                    span.field-value #{status.createdByEmail || "-"}
                
                .col-6.mb-4
                    label(for="updatedBy").field-name Updated by
                    span.field-value #{status.updatedByEmail || "-"}


            form(action=`/admin/statuses/${status.id}?_method=DELETE`, name="deleteStatusForm", method="post") 

            form(action=`/admin/statuses/${status.id}/active?_method=PUT`, name="activeStatusForm", method="post") 

            form(action=`/admin/statuses/${status.id}/archive?_method=PUT`, name="archiveStatusForm", method="post") 